{{!-- THIS WILL BE ACCESSED FROM ACCOUNTS PAGE
        so users should already be signed in 
        
    TO-DO: -link to respective booking page AFTER it's checked if user is signed in 
           -center header icon
           -organize the cards horizontally --}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Muttel 6</title>
	<link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
	<a href="https://imgbb.com/"><img class="headericon" src="https://i.ibb.co/jMbH9YX/project2-headericon.jpg" alt="project2-headericon" border="0" height="80"></a>
	<div class="topnav">
        
<div class="groomingCard">
    <h2>GROOMING</h2>
    <img class="card-img-top" src="https://www.puppyhavenatl.com/wp-content/uploads/2022/03/Dog-Grooming-Icon.png" alt="Card image cap">
    <a href="#" class="btn btn-primary">Book Now!</a>
</div>

<div class="boardingCard">
    <h2>BOARDING</h2>
    <img class="card-img-top" src="https://www.puppyhavenatl.com/wp-content/uploads/2022/03/Dog-Boarding-Icon.png" alt="Card image cap">
    <a href="#" class="btn btn-primary">Book Now!</a>
</div>

<div class="daycareCard">
    <h2>DAY CARE</h2>
    <img class="card-img-top" src="https://www.puppyhavenatl.com/wp-content/uploads/2022/03/Dog-Daycare-Icon.png" alt="Card image cap">
    <a href="#" class="btn btn-primary">Book Now!</a>
</div>



</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>