{{!-- TO-DO: -center header icon
			 -connect to JavaScript file
			 -CSS styling for grooming options
			 -CSS styling for confirmation message 
			 -add drop down with user's dog's names
			 	-if user only has one dog, keep box there. they just can't click it.
			 -add calendar for users to select date--}}


<a href="https://imgbb.com/"><img class="headericon" src="https://i.ibb.co/jMbH9YX/project2-headericon.jpg" alt="project2-headericon" border="0" height="80"></a>

<div id="daycareBookingSystem">
<h1>Doggy Day Care</h1>
    {{!-- TO-DO: drop down menu with dog registered to user's profile --}}
        <p>Dog daycare offers a variety of benefits for your pup. First and foremost, it provides a much-needed dose of dog to dog socialization. 
        Providing interaction and stimulation helps improve social skills and overall behavior. Likewise, dog daycare has been known to help 
        deter destructive behaviors such as digging, chewing and excessive barking. These behaviors often are due to boredom and a lack of exercise. 
        Dogs burn plenty of energy during their time at Muttel-6, making them socially satisfied and ready for your time together when you pick them up.</p>
    {{!-- TO-DO: add date selector --}}
<h4>Would you like to add grooming to your daycare appointment?</h4>
    <button class="button" id="yesGrooming">Yes Please!</button>
    <button class="button" id="noGrooming">No Thank-You</button>
</div>

{{!-- shows users the grooming options they can choose from  --}}
<div id="grooming" style="display: none;">
            <div id="mainGroomingSession">
                <div> 
                <h3>The Full Groom - $70</h3>
                <u1>Includes:
                    <li>Custom Cut & Style</li>
                    <li>Bath, Blow Dry & Brush Out</li>
                    <li>Blueberry Facial</li>
                    <li>Ear Cleaningg</li>
                    <li>Nail Clipping & Grinding</li>
                </u1>
                <button class="button" id="fullGroom">Full Groom</button>
                </div>
                
                <div> 
                <h3>The Luxury Bath - $50</h3>
                <u1>Includes:
                    <li>Bath, Blow Dry & Brush Out</li>
                    <li>Blueberry Facial</li>
                    <li>Ear Cleaningg</li>
                    <li>Nail Clipping & Grinding</li>
                </u1>
                <button class="button" id="luxuryBath">Luxury Bath</button>
                </div>
                
                <div> 
                <h3>The Basic Bath - $35</h3>
                <u1>Includes:
                    <li>Bath, Blow Dry & Brush Out</li>
                </u1>
                <button class="button" id="basicBath">Basic Bath</button>
                </div>
                </div>
                
                <div id="addonSession" style="display: none;">
                <form>
                            <fieldset>
                                <legend>Add-On's:</legend>
                                <input type="checkbox" name="addon" value="nailClipping" id="nailClipping">Nail Clipping & Grinding - $20<br>
                                <input type="checkbox" name="addon" value="teethBrushing" id="teethBrushing">Teeth Brushing - $10<br>
                                <input type="checkbox" name="addon" value="earCleaning" id="earCleaning">Ear Cleaning - $15<br>
                                <input type="checkbox" name="addon" value="brushOut" id="brushOut">Brush Out - $10<br>
                                <input type="checkbox" name="addon" value="analGlands" id="analGlands">External Anal Glands - $15<br>
                                <input type="checkbox" name="addon" value="deshedding" id="deshedding">Deshedding Treatment - $25<br>
                            </fieldset>
                </form>
                <button class="button" id="addonChoices">Submit Choices</button>
                </div>

        </div>

{{!-- confirmation message will be sent from JavaScript file --}}
 <div id="confirmationMessage"></div>

<script src="/js/daycareBooking.js"></script>
